<div class="card-group">
    <div *ngFor="let worker of workers">
        <mat-card class="worker-card">
            <mat-card-header>
             {{worker.name}}
            </mat-card-header>
            <mat-card-content class="worker-description">
                {{worker.description}}
            </mat-card-content>
            <mat-card-content class="worker-contactNumber">
                {{worker.contactNumber}}
            </mat-card-content>
            <mat-card-actions class="card-buttons">
                <div>
                  <button mat-icon-button (click)="editWorker(worker.id)"><mat-icon>edit</mat-icon></button>
                  <button mat-icon-button (click)="deleteWorker(worker.id)"><mat-icon>delete</mat-icon></button>
                </div>
              </mat-card-actions>
    
        </mat-card>
        </div>
    </div>
    
