
<div class="filter-container">
    <div class="filter-div" *ngFor="let domain of domains">
        <button (click)="selectFilter(domain.id)"
        mat-raised-button color="primary">{{domain.name|uppercase}}</button> 
     </div>
</div>


