<app-search-bar (emitSearchTerm)="receiveSearchedTerm($event)"></app-search-bar>
<app-filter (emitSelectedFilter)="receiveDomain($event)"></app-filter>
<app-worker [selectedDomainId]="domainId" [searchedTerm]="searchedTerm"></app-worker>
<app-tools></app-tools>
