

<form class="note-form">
    <mat-form-field>
    <input  
        matInput name="inputNote" [(ngModel)]='title' />
    </mat-form-field>
    <mat-form-field>
        <textarea matInput  name="descriptionName" [(ngModel)]='description'></textarea>
    </mat-form-field>

</form>

   
  
  
