<app-comp1></app-comp1>

<h1>My First Attribute Directive</h1>

<h4>Pick a highlight color</h4>
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<p [appChangeColor]="color">Highlight me!</p>

<p [appChangeColor]="color" defaultColor="violet">
  Highlight me too!
</p>

<hr>
<p><i>Mouse over the following lines to see fixed highlights</i></p>

<p [appChangeColor]="'yellow'">Highlighted in yellow</p>
<p appChangeColor="orange">Highlighted in orange</p>
