<!-- <div class="comp-container">
    <div class="comp-div" *ngFor="let city of cities; let i=index; let even=even">
       <p>{{even}}{{city.name|uppercase}}</p>
     </div>
</div> -->
<div *ngFor="let city of cities; let id=index; let even=even" >
    <p *ngIf="even"> {{city.name| uppercase}} </p>
    </div>
    


