<!-- Search form -->
  <div class="filter-div">
    <input type="search" [(ngModel)]="searchedTerm">
    <button (click)="searchTerm(searchedTerm)"mat-icon-button><mat-icon>search</mat-icon></button>
  </div>