<app-search-bar (emitSearchTerm)="receiveSearchedTerm($event)"></app-search-bar>
<app-filter (emitSelectedFilter)="receiveCategory($event)"></app-filter>
<app-note [selectedCategoryId]="categoryId" [searchedTerm]="searchedTerm"></app-note>
<app-tools></app-tools>
