<div class="add-worker">
    <h1>Add a worker</h1>
    <form class="add-worker-form">
      <mat-form-field>
        <input matInput name="workerName" placeholder="Worker name" [(ngModel)]="name" />
      </mat-form-field>
      <mat-form-field>
        <textarea
          matInput
          name="workerDescription"
          placeholder="Worker description"
          [(ngModel)]="description"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <input matInput name="contactNumber" placeholder="Worker contactNumber" [(ngModel)]="contactNumber" />
      </mat-form-field>
  
      <mat-form-field >
        <mat-label>Choose a domain </mat-label>
        <mat-select *ngIf="domains" [(ngModel)]="idDomainWorker">
            <mat-option *ngFor="let dom of domains" [value]="dom.id">{{dom.name}}</mat-option>
        </mat-select>
    </mat-form-field>
  
    </form>
    <button mat-raised-button (click)="add()">Add</button>
  </div>
  