.add-worker {
    width: 500px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
      .add-worker-form {
        display: flex;
        flex-direction: column;
        width: 300px;
        
      }
    }