<div class="edit-note">

    <h1 class="page-title">Edit note</h1>
  
    <form class="edit-note-form">
  
      <mat-form-field class="note-title">
        <input matInput name="inputNoteTitle" placeholder="Note title" [(ngModel)]="title">
      </mat-form-field>
  
      <mat-form-field class="note-description">
        <textarea matInput name="inputNoteDescription" placeholder="Note description" [(ngModel)]="description"></textarea>
      </mat-form-field>
  
      <mat-form-field class="note-category">
        <mat-label>Choose a category </mat-label>
        <mat-select *ngIf="categories" [(ngModel)]="idCategoryNote" name="categ">
          <mat-option *ngFor="let categ of categories" [value]="categ.id">{{categ.name}}</mat-option>
        </mat-select>
      </mat-form-field>
  
    </form>
  
    <button class="edit-note-button" mat-raised-button color="basic" (click)="edit()">Save changes</button>
  
  </div>
