.edit-note {
    width: 500px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    .page-title {
      text-align: center;
      margin-top: 15%;
      margin-bottom: 25px;
    }
  
    .edit-note-form {
      margin-left: 50px;
      width: 350px;
      display: block;
      margin: 0 auto;
    
      .note-title {
        width: 100%;
        margin-bottom: 25px;
      }
    
      .note-description {
        width: 100%;
        margin-bottom: 25px;
      }
  
      .note-category {
        width: 25%;
        margin-bottom: 25px;
      }
    }
  
    .edit-note-button {
      display: block;
      margin: 0 auto;
      margin-bottom: 25px;
    }
  
  }
  