.note-card {
    // max-width: 150px;
    //       min-height: 150px;
    //       justify-content: center;
    //       align-items: center;
    //       margin: 20px;
    //       background-color: aquamarine;
    width: 150px;
  height: 160px;
  float: left;
  margin: 20px 10px 20px 10px;
  background-color: aquamarine;
    }
.note-description{
    margin-top: 10px;
}
.option{
    margin-left: 50px;
}
.icons{
    margin-top: 50px;
}
// .card-buttons {
//     display: flex;
//     flex-direction: row;
//     position:absolute;
//     bottom: 0;
//     padding-bottom: 10px;
//     justify-content: space-between;
// }