<div class="card-group">
    <div *ngFor="let note of notes">
        <mat-card class="note-card">
            <mat-card-header>
             {{note.id}}   {{note.title}}
            </mat-card-header>
            <mat-card-content class="note-description">
                {{note.description}}
            </mat-card-content>
            <mat-card-actions class="card-buttons">
                <div>
                  <button mat-icon-button><mat-icon>arrow_right_alt</mat-icon></button>
                  <button mat-icon-button><mat-icon>star_half</mat-icon></button>
                  <button mat-icon-button><mat-icon>done_outline</mat-icon></button>
                </div>
                <div>
                  <button mat-icon-button (click)="editNote(note.id)"><mat-icon>edit</mat-icon></button>
                  <button mat-icon-button (click)="deleteNote(note.id)"><mat-icon>delete</mat-icon></button>
                </div>
              </mat-card-actions>
    
        </mat-card>
        </div>
    </div>
    