<div class="edit-worker">

    <h1 class="page-title">Edit worker</h1>
  
    <form class="edit-worker-form">
  
      <mat-form-field class="worker-name">
        <input matInput name="inputWorkerName" placeholder="Worker name" [(ngModel)]="name">
      </mat-form-field>
  
      <mat-form-field class="worker-description">
        <textarea matInput name="inputWorkerDescription" placeholder="Worker description" [(ngModel)]="description"></textarea>
      </mat-form-field>
      <mat-form-field class="worker-contactNumber">
        <textarea matInput name="inputWorkerDescription" placeholder="Worker contactNumber" [(ngModel)]="contactNumber"></textarea>
      </mat-form-field>
  
      <mat-form-field class="note-domain">
        <mat-label>Choose a domain </mat-label>
        <mat-select *ngIf="domains" [(ngModel)]="idDomainWorker" name="dom">
          <mat-option *ngFor="let dom of domains" [value]="dom.id">{{dom.name}}</mat-option>
        </mat-select>
      </mat-form-field>
  
    </form>
  
    <button class="edit-worker-button" mat-raised-button color="basic" (click)="edit()">Save changes</button>
  
  </div>

