<!-- <p>Note content is:  {{noteContent}}</p>
<p [style.color]="textColor">The title is {{title|uppercase}}</p>
<p>Current date is {{currentDate | date: 'shortDate'}}</p>

<mat-form-field>
    <input matInput placeholder="Add Note" [(ngModel)]= "noteContent"
    >
</mat-form-field> -->
<!-- <mat-card class="add-note-card">
    <a href="/addnote">
        <button mat-icon-button click="addNote"><mat-icon>add</mat-icon></button>
    </a>
 </mat-card> -->
 <mat-card class="add-note-card">
        <button mat-icon-button (click)="addNote()"><mat-icon>add</mat-icon></button>
 </mat-card>
 
<!-- <button mat-icon-button (click)="buttonClick()"> 
    <mat-icon>add</mat-icon></button> -->


