.add-worker-card {
    width: 150px;
height: 160px;
flex: 1;
display: flex;
justify-content: center;
align-items: center;
background-color: aquamarine;
margin: 20px 10px 20px 10px;
float: left;

  }
  