.note-card {
    max-width: 150px;
          min-height: 150px;
          justify-content: center;
          align-items: center;
          margin: 20px;
          background-color: aquamarine;
    }
.card-group{
    display: flex;
    flex-flow: row wrap;
    -webkit-box-orient: horizontal;
}
.note-description{
    margin-top: 10px;
}
.option{
    margin-left: 50px;
}
.icons{
    margin-top: 50px;
}