<div class="card-group">
<div *ngFor="let note of notes">
   
    <mat-card class="note-card" (click)="showNote(note)">
        <mat-card-header>
            {{note.title}}
        </mat-card-header>
        <mat-card-content class="note-description">
            {{note.description}}
        </mat-card-content>
        <mat-card-actions class="icons">
            <mat-icon>label</mat-icon>
            <mat-icon>star_half</mat-icon>
            <mat-icon>done_outline</mat-icon>
            <mat-icon class="option"> border_color</mat-icon>
        </mat-card-actions>

    </mat-card>
    </div>
</div>
